/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6e6e6e;
    padding: 15px 20px;
    color: white;
}

/* Logo */
.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Navigation List */
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-list a:hover {
    color: #f39c12;
}

/* Login Button */
#login-btn {
    background-color: rgba(255, 136, 165, 0.9);
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#login-btn:hover {
    background-color: rgba(255, 136, 165, 0.5);
}

#bg-image-container {
    display: block;
    width: 100%;
    height: 800px;  
    background-image: url('/images/background.png');
    background-size: 100%;
    background-position: center;
    position: absolute;
}

.text {
    margin-top: 100px;
    margin-left: 100px;
    background-color: #ffa1a1;
    width: 25%;
    height: 40%;
    border-radius: 10px;
    padding: 20px;
}

#l1 {
    font-family: fantasy;
    font-size: 40px;
    color: #E81140;
    font-style: italic;
}

#l2 {
    margin-top: -20px;
    margin-left: 80px;
    font-family: fantasy;
    font-size: 40px;
    color: #E81140;
    font-style: italic;
}

#Register-txt{
    margin-top: 100px;
    margin-left: 100px;
    height: 80px;
    width: 27%;
    font-family: fantasy;
    font-size: 64px;
    text-align: center;
    font-weight: normal;
}

#bg-image-container a{
    color: black;
    text-decoration: none;
}

#div2 {
    background-color: rgb(240, 236, 239);
    width: 100vw;
    height: 300px;
    position: relative;
    top: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#p1 {
    font-family: cursive;
    font-size: 64px;
    text-align: center;
    font-weight: normal;
    
}

#p2 {
    font-size: 40px;
    text-align: center;
    margin: -30px 0 70px 0;
}

#div3 {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 350px;
    position: relative;
    top: 800px;
    display: flex;
    flex-direction: row;
}

#div3a {
    width: 60vw;
    background-image: url('/images/Div3IMG1.png');
    position: relative;
    display: flex;
    object-fit: contain;
    background-size: cover;
}

#div3b {
    position: absolute;
    right: 0;
}